<p class="text text-16">
    {{#if exam}}
    <b>Below is the list of the round for this exam:</b>
    {{else}}
    <b>Below is the list of the round for this positon:</b>
    {{/if}}
</p>
<table class="round-details-table">
    <tbody>
        {{#each all_rounds}}
        <tr>
            <td class="text-center" style="vertical-align:top; width: 60px">
                {{#if this.is_current}}
                {{#if this.is_external}}
                <img align="center"
                    src="https://topgeek.io/assets/images/video.png"
                    alt="Current" class="current-video">
                {{else}}
                <a href={{../url}}>
                    <img align="center"
                        src="https://topgeek.io/assets/images/video.png"
                        alt="Current" class="current-video">
                </a>
                {{/if}}
                {{else}}
                {{#switch this.status}}
                {{#case 'pending'}} <img align="center"
                    src="https://topgeek.io/assets/images/pending.png"
                    alt="Pending" class="pending" /> {{/case}}
                {{#case 'shortlisted'}} <img align="center"
                    src="https://topgeek.io/assets/images/shortlisted.png"
                    alt="Sortlisted" class="shortlisted" /> {{/case}}
                {{#case 'rejected'}} <img align="center"
                    src="https://topgeek.io/assets/images/rejected.png"
                    alt="Rejected" class="rejected" /> {{/case}}
                {{/switch}}
                {{/if}}
            </td>
            <td colspan="2" class="pb-2">
                <div class="heading">
                    <p>{{this.round_name}}</p>
                </div>
                {{{this.description}}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>