<div>
	<i>
		{{#if assignment_file_url}}
			<p class="text">
				We have send you an assignment as part of our interview process. Please visit this link to view the assignment:
				<span style="font-style: normal;">
					<a href="{{assignment_file_url}}" target="_blank">View Assignment</a></span>.
				We have also provided instructions to help you with the assigned task.
			</p>
		{{/if}}
		<p class="text">
			Interview Details:
		</p>
		<div class="round-title">
			<b>{{round_name}}</b>
		</div>
		<p class="text">
			Assignment Overview:
		</p>
		<p class="text">
			{{#if assignment_description}}
				{{{assignment_description}}}
			{{else}}
				The assignment has been prepared to gauge your skills and knowledge
				and to help us to understand your approach for the tasks which are
				relevant to the {{ opening_title }} role.
			{{/if}}
			<br />
			We expect you to send the
			completed task before <b>{{ assignment_valid_till_date }}</b>.
		</p>
	</i>
</div>
