<div class="margin-24">
    <p class="text text-16">
        Regards,
        <br />
        {{ceo_name}}
        <br />
        Founder
        <br />
        {{app_website}}
        <br />
        <a href={{ceo_twitter_url}} target="_blank">@{{ceo_twitter_handle}}</a>
    </p>
</div>