<p class="text">
        Quick Summary Report for <b>{{opening_title}}</b> at <b>{{company_name}}</b> on  <b>{{day}}</b>
</p>
<p  class="text text-14 m-8">
    {{interviews_pending_approval_till_date}} interview approvals are pending till {{day}}
</p>
<p  class="text text-14 m-8">
    {{interviews_unreviewed_till_date}} interviews are unreviewed till {{day}}
</p>
<p  class="text text-14 m-8">
    {{interviews_not_started_till_date}} interviews are not started till {{day}}
</p>
<p  class="text text-14 m-8">
    {{application_withdrawn_till_date}} applications were withdrawn till {{day}}
</p>
<p  class="text text-14 m-8">
    {{opening_interviews}} users took Interview on {{day}}
</p>
{{#if showableData}}
<p  class="text text-14 m-8">
    {{directly_applied_candidates}} candidates had applied on {{day}} on {{app_website}}
</p>
{{/if}}
{{#if showableData}}
<p  class="text text-14 m-8">
    {{invited_candidates}} candidates were invited on {{day}}
</p>
{{else}}
<p  class="text text-14 m-8">
    {{recruiter_invited_candidates}} candidates were invited on {{day}}
</p>
{{/if}}

<p  class="text text-14 m-8">
    {{not_started_candidates}} candidates had applied on {{day}} and not started yet
</p>