<div
    class="u-row-container"
    style="padding: 0px; background-color: #183b56"
>
    <div
    class="u-row"
    style="
        margin: 0 auto;
        min-width: 320px;
        max-width: 500px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        background-color: #183b56;
    "
    >
    <div
        style="
        border-collapse: collapse;
        display: table;
        width: 100%;
        background-color: #183b56;
        "
    >
        <!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: #183b56;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:500px;"><tr style="background-color: #183b56;"><![endif]-->

        <!--[if (mso)|(IE)]><td align="center" width="500" style="width: 500px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;" valign="top"><![endif]-->
        <div
        class="u-col u-col-100"
        style="
            max-width: 320px;
            min-width: 500px;
            display: table-cell;
            vertical-align: top;
        "
        >
        <div
            style="
            width: 100% !important;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            "
        >
            <!--[if (!mso)&(!IE)]><!-->
            <div
            style="
                padding: 0px;
                border-top: 0px solid transparent;
                border-left: 0px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 0px solid transparent;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
            "
            >
            <!--<![endif]-->

            <table
                style="
                font-family: 'Inter', helvetica, sans-serif;
                "
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
            >
                <tbody>
                <tr>
                    <td
                    style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 25px 10px 10px;
                        font-family: 'Inter', helvetica,
                        sans-serif;
                    "
                    align="left"
                    >
                    <table
                        height="0px"
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="
                        border-collapse: collapse;
                        table-layout: fixed;
                        border-spacing: 0;
                        mso-table-lspace: 0pt;
                        mso-table-rspace: 0pt;
                        vertical-align: top;
                        border-top: 2px solid #2d4c64;
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%;
                        "
                    >
                        <tbody>
                        <tr style="vertical-align: top">
                            <td
                            style="
                                word-break: break-word;
                                border-collapse: collapse !important;
                                vertical-align: top;
                                font-size: 0px;
                                line-height: 0px;
                                mso-line-height-rule: exactly;
                                -ms-text-size-adjust: 100%;
                                -webkit-text-size-adjust: 100%;
                            "
                            >
                            <span>&nbsp;</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <table
                style="
                font-family: 'Inter', helvetica, sans-serif;
                "
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
            >
                <tbody>
                <tr>
                    <td
                    style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 10px;
                        font-family: 'Inter', helvetica,
                        sans-serif;
                    "
                    align="left"
                    >
                    <table
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                    >
                        <tbody>
                        <tr>
                            <td
                            style="
                                padding-right: 0px;
                                padding-left: 0px;
                            "
                            align="center"
                            >
                            <a
                                href="https://topgeek.io/"
                                target="_blank"
                            >
                                <img
                                align="center"
                                border="0"
                                src="https://topgeek.io/assets/images/emails/topgeek.png"
                                alt=""
                                title=""
                                style="
                                    outline: none;
                                    text-decoration: none;
                                    -ms-interpolation-mode: bicubic;
                                    clear: both;
                                    display: inline-block !important;
                                    border: none;
                                    height: auto;
                                    float: none;
                                    width: 126px;
                                    max-width: 126px;
                                "
                                height="34px"
                                width="126px"
                                />
                            </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <table
                style="
                font-family: 'Inter', helvetica, sans-serif;
                color: #879daf;
                "
                role="presentation"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                border="0"
            >
                <tbody>
                <tr>
                    <td
                    style="
                        overflow-wrap: break-word;
                        word-break: break-word;
                        padding: 10px 50px;
                        font-family: 'Inter', helvetica,
                        sans-serif;
                        color: #879daf;
                    "
                    align="left"
                    >
                    <div
                        style="
                        color: #879daf;
                        line-height: 140%;
                        text-align: center;
                        word-wrap: break-word;
                        "
                    >
                        <p
                        style="
                            font-size: 14px;
                            line-height: 140%;
                            color: #879daf;
                            margin: 0px;
                        "
                        >
                        For any query, reply to this email.
                        </p>
                        <p
                        style="
                            font-size: 14px;
                            line-height: 140%;
                            color: #879daf;
                            margin: 0px;
                        "
                        >
                        No. 18, 2nd Cross Road, N S Palya,
                        2nd Stage BTM Layout, Bangalore –
                        560076, Karnataka, India
                        </p>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--[if (!mso)&(!IE)]><!-->
            </div>
            <!--<![endif]-->

            <table
            style="
                font-family: 'Inter', helvetica, sans-serif;
            "
            role="presentation"
            cellpadding="0"
            cellspacing="0"
            width="100%"
            border="0"
            >
            <tbody>
                <tr>
                <td
                    style="
                    overflow-wrap: break-word;
                    word-break: break-word;
                    padding: 25px 25px 35px;
                    font-family: 'Inter', helvetica,
                        sans-serif;
                    "
                    align="left"
                >
                    <div>
                    <table
                        style="width: 100%"
                        role="presentation"
                    >
                        <tbody>
                        <tr>
                            <td
                            align="center"
                            style="text-align: center"
                            >
                            <div>
                                <a
                                href="https://www.facebook.com/topgeekio/"
                                target="_blank"
                                >
                                <img
                                    src="https://topgeek.io/assets/images/emails/fb.png"
                                    height="16"
                                    alt="facebook"
                                    border="0"
                                    width="8"
                                />
                                </a>
                                &emsp;
                                <a
                                href="https://www.linkedin.com/company/thetopgeek/about/?viewAsMember=true"
                                target="_blank"
                                >
                                <img
                                    src="https://topgeek.io/assets/images/emails/lin.png"
                                    height="16"
                                    alt="linkedin"
                                    border="0"
                                    width="17"
                                />
                                </a>
                                &emsp;
                                <a
                                href="https://topgeek.io/community"
                                target="_blank"
                                >
                                <img
                                    src="https://topgeek.io/assets/images/emails/twitter.png"
                                    height="16"
                                    alt="Discord"
                                    border="0"
                                    width="14"
                                />
                                </a>
                            </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
        <!--[if (mso)|(IE)]></td><![endif]-->
        <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
    </div>
    </div>
</div>