<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <style type="text/css">
      * {
        -webkit-font-smoothing: antialiased;
      }

      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        mso-line-height-rule: exactly;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        min-width: 100%;
        background-color: #ddd;
      }

      table {
        border-spacing: 0;
        color: #333333;
        font-family: Arial, sans-serif;
      }

      img {
        border: 0;
      }

      .wrapper {
        width: 100%;
        table-layout: fixed;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        background-color: #ddd;
      }

      .webkit {
        max-width: 600px;
      }

      .outer {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
      }

      .full-width-image img {
        width: 100%;
        max-width: 600px;
        height: auto;
      }

      .inner {
        padding: 10px;
      }

      p {
        margin: 0;
        padding-bottom: 10px;
      }

      .main-table {
        width: "100%";
        border: "0";
        style: "background-color: #ddd";
      }

      .inner-table {
        border-spacing: 0;
        font-family: Arial, sans-serif;
        color: #333333;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
      }

      .td-first {
        word-break: break-word;
        border-collapse: collapse !important;
        vertical-align: top;
        background-color: #183b56;
      }

      .u-row-container {
        padding: 0px; background-color: #183b56
      }
      .u-row {
        margin: 0 auto;
        min-width: 320px;
        max-width: 400px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        background-color: #183b56;
      }

      .u-table {
        border-collapse: collapse;
        display: table;
        width: 100%;
        background-color: #183b56;
      }

      .div1 {
        max-width: 320px;
        min-width: 250px;
        display: table-cell;
        vertical-align: top;
      }
      .div2 {
        background-color: #183b56;
        width: 100% !important;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
      }
      .div3 {
        padding: 0px;
        border-top: 0px solid transparent;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 0px solid transparent;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
      }
      .main-td {
        overflow-wrap: break-word;
        word-break: break-word;
        padding: 25px 10px 10px 25px;
        font-family: 'Inter', helvetica, sans-serif;
      }

       .main-td2 {
        overflow-wrap: break-word;
        word-break: break-word;
        padding: 0px 10px 10px 25px;
        font-family: 'Inter', helvetica, sans-serif;
      }

      .success-img {
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
        clear: both;
        display: inline-block !important;
        border: none;
        height: auto;
        float: none;
        max-width: 51px;
      }
      .congrats-img {
        outline: none;
        text-decoration: none;
        -ms-interpolation-mode: bicubic;
        clear: both;
        display: inline-block !important;
        border: none;
        height: auto;
        float: none;
        max-width: 60px;
      }

      h1 {
        margin: 0px;
        color: #ffffff;
        line-height: 140%;
        text-align: left;
        word-wrap: break-word;
        font-weight: normal;
        font-family: arial, helvetica, sans-serif;
        font-size: 32px;
      }
      .td-p1 {
        font-size: 16px;
        line-height: 22.4px;
        margin: 0px;
        color: #ffffff;
        line-height: 140%;
        text-align: left;
        word-wrap: break-word;
      }
      .tracking-div {
        width: 369px;
        border: 1px solid #E5EAF433;
        border-radius: 8px;
        opacity: 1;
      }

      .tracking-inner {
        padding: 5px;
        margin: 5px;
      }
      .tracking-headline {
        font-size: 14px;
        line-height: 20px;
        margin: 0px;
        color: #ffffff;
        line-height: 140%;
        text-align: left;
        word-wrap: break-word;
      }
      .tracking-info {
        font-size: 12px;
        color: #ffffff;
        text-align: left;
        font: "normal normal 600 12px/20px Inter";
        letter-spacing: 0.15px;
        color: #FFFFFF;
        opacity: 1;
      }
      .tracking-address {
        font-size: 14px;
        color: #ffffff;
        text-align: left;
        font: "normal normal normal 14px/26px Inter";
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
      }
      .tracking-link {
        text-align: left;
        font: "normal normal bold 16px/26px Inter";
        letter-spacing: 0.07px;
        color: #36b37e !important;
        opacity: 1;
        font-weight: 600;
        text-decoration: none;
        float: right;
      }
    </style>
</head>