{{#each detailedReport}}
    <p class="text">
    <b>List of Candidates attempted {{round_name}} :</b>
    </p>
    <table  border="1" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 28px;"> 
    <tr>
        <th class="summary-daily-th">Candidate Name</th>
        <th class="summary-daily-th">Experience</th>
        <th class="summary-daily-th">Interview Duration</th>
        <th class="summary-daily-th">Invited On</th>
        <th class="summary-daily-th">Attempted On</th>
        <th class="summary-daily-th">Interview Profile Link</th>
        <th class="summary-daily-th">Status</th>
    </tr>
    {{#if candidate_list.length}}
        {{#each candidate_list}}
        <tr>
            <td class="summary-daily-td">{{candidate_name}}</td>
            <td class="summary-daily-td">{{candidate_experience}}</td>
            <td class="summary-daily-td">{{interview_duration}}</td>
            <td class="summary-daily-td">{{invited_on}}</td>
            <td class="summary-daily-td">{{attempted_on}}</td>
            <td class="summary-daily-td">
                <a href={{interview_profile}}>
                    View Profile
                </a>
            </td>
            <td class="summary-daily-td">{{status}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
        <td class="summary-daily-td" colspan="7">
            No Candidates in {{round_name}}
        </td>
        </tr>
    {{/if}}
    </table>
{{/each}}