{{> roundOverview}}
{{> allRounds}}
{{#if isReminder}}
<p
    class="text margin-32 w-480 mx-auto">
    You can start the
    interview by clicking
    the
    button below:
</p>
<p
    class="text-center">
    <div class="margin-32 w-480 mx-auto">
        <a href={{url}} class="link">
            <span class="btn-login">
                Start Interview
            </span>
        </a>
    </div>
</p>
{{else}}
<p
    class="text margin-32 w-480 mx-auto">
    To view the invitation, please click the button below:
</p>
<p
    class="text-center">
    <div class="margin-32 w-480 mx-auto">
        <a href={{url}} class="link">
            <span class="btn-login">
                Accept Invitation
            </span>
        </a>
    </div>
</p>
{{/if}}
<div class="margin-32">
    <p
        class="text">
        <b>FAQs:</b>
        <ol>
            {{#if time_limit}}
            <li class="interview-step-li">
                How long is the invitation valid?
                <ol type="a">
                    <li class="interview-step-li">The invitation needs to be
                        accepted within {{time_limit}}.</li>
                </ol>
            </li>
            {{/if}}
            <li class="interview-step-li">
                When is my exam scheduled?
                <ol type="a">
                    <li class="interview-step-li">It's an automated exam
                        round which can be attended based on your availability.</li>
                    <li class="interview-step-li">The exam needs to be
                        completed within {{> expiryInDays}} from the date of
                        accepting the invitation.</li>
                </ol>
            </li>
            <li class="interview-step-li">
                Troubleshooting Network Issue
                <ol type="a">
                    <li class="interview-step-li">Avoid using mobile data</li>
                    <li class="interview-step-li">Make sure you have a good wifi
                        signal and you are not too far from the wifi router</li>
                    <li class="interview-step-li">Avoid playing any videos or
                        download contents during the exam. Close unwanted
                        tabs, browsers and applications.</li>
                </ol>
            </li>
            <li class="interview-step-li">
                After my exam, when will the results be announced?
                <ol type="a">
                    <li class="interview-step-li">We generally take 3-5 working
                        days to review any exam. </li>
                    <li class="interview-step-li">After the review we will email
                        you the results / next steps.</li>
                </ol>
            </li>
        </ol>
    </p>
</div>
<div class="margin-32">
    <p
        class="text">
        All the best for the exam!
    </p>
</div>