<p class="text">
    <b>List of Candidates :</b>
</p>
<table border="1" cellpadding="0" cellspacing="0" style="width: 100%;
    margin-bottom: 28px;">
    <tr>
        <th class="summary-daily-th">Candidate Name</th>
        <th class="summary-daily-th">Experience</th>
        <th class="summary-daily-th">Opening</th>
        <th class="summary-daily-th">Round</th>
        <th class="summary-daily-th">Invited On</th>
        <th class="summary-daily-th">Interview Profile Link</th>
    </tr>
    {{#if expiredInterviewsReport.length}}
    {{#each expiredInterviewsReport}}
    <tr>
        <td class="summary-daily-td">{{candidate_name}}</td>
        <td class="summary-daily-td">{{candidate_experience}}</td>
        <td class="summary-daily-td">{{opening}}</td>
        <td class="summary-daily-td">{{opening_round}}</td>
        <td class="summary-daily-td">{{invited_on}}</td>
        <td class="summary-daily-td">
            <a href={{interview_profile}}>
                View Profile
            </a>
        </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td class="summary-daily-td" colspan="7">
            No Candidates
        </td>
    </tr>
    {{/if}}
</table>