<tr><td colspan="2"><br /></td></tr>
<tr>
    <td colspan="2" class="td-footer" align="center" style="padding:20px;">
        <footer>
            <p class="text-center">
                <a href={{website_url}}>
                    <img src="https://topgeek.io/assets/images/logo_135.png" alt="{{app_name}}" class="logo" />
                </a>
                {{#if text}}
                    {{text}} <br />
                {{else}}
                    For any query, reply to this email. <br />
                {{/if}}
                No. 18, 2nd Cross Road, N S Palya, 2nd Stage BTM Layout,<br/> Bangalore – 560076, Karnataka, India<br />
            </p>
        </footer>
    </td>
</tr>
<tr><td colspan="2"><br /></td></tr>