 <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>
    <style>
          /* -------------------------------------
                  INLINED WITH htmlemail.io/inline
              ------------------------------------- */
          /* -------------------------------------
              RESPONSIVE AND MOBILE FRIENDLY STYLES
          ------------------------------------- */
             body {
              background-color: #ffffff;
              font-family: Arial,sans-serif;
              font-size: 14px;
              line-height: 1.4;
              font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
              margin: 0;
              padding: 0;
              -ms-text-size-adjust: 100%;
              -webkit-text-size-adjust: 100%;
            }
            p, td,li, div {
              font-size: 16px;
              line-height: 1.4;
              font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
            }
            table {
              border-collapse: separate;
              width: 100%;
              background-color: #f4f4f4;
              padding-top:20px;
            }
            table table {
              background-color: #ffffff;
              padding-top:0;
            }
            .td-second {
              vertical-align: top;
              display: block;
              margin: 0 auto;
              max-width: 580px;
            }
            .td-div {
              box-sizing: border-box;
              display: block;
              margin: 0 auto;
              max-width: 580px;
              /* padding: 10px; */
            }
            .max-w-1000 {
              max-width: 1000px;
            }
            .max-w-280 {
              max-width: 280px !important;
            }
            .span-title {
              color: transparent;
              display: none;
              height: 0;
              max-height: 0;
              max-width: 0;
              opacity: 0;
              overflow: hidden;
              visibility: hidden;
              width: 0;
            }
            .main-table {
              border-collapse: separate;
              width: 100%;
              background: #ffffff;
              border-radius: 4px;
            }
            .td-wrapper {
              vertical-align: top;
              box-sizing: border-box;
            }
            .secondary-table {
              border-collapse: separate;
              width: 100%;
              background: #ffffff;
              padding: 20px;
            }
            .text-center {
              text-align: center;
            }
         @media only screen and (max-width: 620px) {
              table {
                padding-top:0;
              }
           	.secondary-table {
                padding: 10px;
           }
        	}
            
            /* -------------------------------------
              PRESERVE THESE STYLES IN THE HEAD
            ------------------------------------- */
            @media all {
              .ExternalClass {
                width: 100%;
              }
            
              .ExternalClass,
              .ExternalClass p,
              .ExternalClass span,
              .ExternalClass font,
              .ExternalClass td,
              .ExternalClass div {
                line-height: 100%;
              }
            
              .apple-link a {
                color: inherit !important;
                font-family: inherit !important;
                font-size: inherit !important;
                font-weight: inherit !important;
                line-height: inherit !important;
                text-decoration: none !important;
              }
            
              #MessageViewBody a {
                color: inherit;
                text-decoration: none;
                font-size: inherit;
                font-family: inherit;
                font-weight: inherit;
                line-height: inherit;
              }
            
              .btn-primary table td:hover {
                background-color: #34495e !important;
              }
            
              .btn-primary a:hover {
                background-color: #34495e !important;
                border-color: #34495e !important;
              }
            
              .btn-login {
                border-collapse: separate !important;
                border-radius: 4px;
                border: 1px solid #435096;
                background-color: #4453a4;
                padding: 15px;
                letter-spacing: normal;
                line-height: 100%;
                text-align: center;
                text-decoration: none;
                color: #ffffff;
                display: block;
              }
              .link {
                text-decoration: none;
              }
              .text {
                margin: 15px 0;
                padding: 0;
                color: #000;
                text-align: left;
              }
              .inner-text {
                margin: 10px 0;
              }
              .line-style{
                line-height: 1.6em;
              }
              .inner-text-new {
                margin: 8px 0;
              }
              .inner-text-updated {
                font-size: 14px;
                margin: 8px 0;
                line-height: 18px;
              }
              .inner-text-pending {
                  margin: 10px 0;
              }
              .logo {
                max-width: 180px;
                text-decoration: none;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
                justify-content: center;
                display: flex;
                margin-bottom: 10px;
              }
              
              .round-details-table table {
                border:solid 1px #ccc;  
                border-spacing: 0;
    						border-collapse: collapse;
              } 
              .round-details-table td {
                border:none;
                padding: 10px 0;
                border-top: solid 1px #ddd;
              }
              .round-details-table td p {
                margin-top: 10px;
              }
              .round-details-table td .heading p {
                margin: 0;
              }
            }
          footer {
            vertical-align: middle;
            text-align: center;
            font-size:12px;
            line-height:1.4em;
          }
          .td-footer p, footer p {
            font-size: 12px;
          }
          .hr-container {
            margin-left: auto;
            margin-right: auto;
            border: 0;
            height: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            max-width: 580px;
          }
          footer a {color:#000;}         /* Unvisited link  */
          footer a:visited {color:#000;} /* Visited link    */
          footer a:hover {color:#000;}   /* Mouse over link */
          footer a:active {color:#000;}  /* Selected link   */
          .text-primary {
            color:#4453a4;
          }
          .interview-step-li {
            margin: 10px 0;
            padding: 0;
            text-align: left;
          }
          
        .pending, .shortlisted, .rejected {
          height: 25px;
          width: 25px;
        }
        .current-video{
          height: 30px;
          width: 30px;
        }
          .margin-44 {
            margin-top: 44px;
          }
          .text-14 {
            font-size: 14px;
          }
          .m-8 {
            margin: 8px 0;
          }
          .mr-2 {
            margin-right: 2px !important;
          }
          .summary-daily-th, 
          .summary-daily-td {
            text-align: center;
            padding: 10px;
          }
          .summary-daily-th {
            font-size: 15px;
          }
          .summary-daily-td {
            font-size: 13px;
          }

      </style>
</head>