<div>
    <div class="margin-44">
        <p class="text">
            <b>System Requirement:</b>
            <ol>
                <li class="interview-step-li">Laptop or Desktop with Windows / Mac / Linux with at least 4GB Ram.</li>
                <li class="interview-step-li">Latest Chrome Browser</li>
                <li class="interview-step-li">Minimum internet speed of 5mbps. (Please test it using https://speedtest.net)</li>
            </ol>
        </p>
    </div>
    <p class="text-center">
        <div class="margin-32 w-480 mx-auto">
            <a href={{url}} class="link">
                <span class="btn-login">
                {{#if inviteText}}
                    {{inviteText}}
                {{else}}
                    Click Here to Accept your Invitation
                {{/if}}
                </span>
            </a>
        </div>
    </p>
    <div class="margin-32">
        <p class="text">
            <b>How to start?</b>
            <ol>
                <li class="interview-step-li">Login to <a href={{website_url}}>{{app_website}}</a> using your mobile number or email address</li>
                <li class="interview-step-li">Click on "Start Interview" and follow the on-screen instructions</li>
                <li class="interview-step-li">In case you don’t see the Start Interview button click on the Dashboard Link from the Top Menu and You will see your interview in the Recently Applied Section.</li>
            </ol>
        </p>
    </div>
    <div class="margin-32">
        <p class="text">
            <b>FAQs:</b>
            <ol>
                <li class="interview-step-li">
                    When is my interview scheduled?
                    <ol type="a">
                        <li class="interview-step-li">It's an automated interview round which can be attended based on your availability.</li>
                        <li class="interview-step-li">The interview needs to be completed within {{> expiryInDays}} from the date of the invitation.</li>
                    </ol>
                </li>
                <li class="interview-step-li">
                    Troubleshooting Network Issue
                    <ol type="a">
                        <li class="interview-step-li">Avoid using mobile data</li>
                        <li class="interview-step-li">Make sure you have a good wifi signal and you are not too far from the wifi router</li>
                        <li class="interview-step-li">Avoid playing any videos or download contents during the interview. Close unwanted tabs, browsers and applications.</li>
                    </ol>
                </li>
                <li class="interview-step-li">
                    After my interview, when will the results be announced?
                    <ol type="a">
                        <li class="interview-step-li">We generally take 3-5 working days to review any interview. </li>
                        <li class="interview-step-li">After the review we will email you the results / next steps.</li>
                    </ol>
                </li>
            </ol>
        </p>
    </div>
    <div class="margin-32">
        <p class="text text-justify text-16">
            <b>Note:</b> If you need any assistance in the interview process, please contact us via Whatsapp: +91-91081-72112.
        </p>
    </div>
    <div class="margin-32">
        <p class="text">
            All the best for the interview!
        </p>
    </div>
    <div class="margin-24">
        {{> recruitmentSignature}}
    </div>
</div>