{{#if start_time}}
    <p class="text text-16" style="margin-top: 20px; margin-bottom: 20px;">
        <i>You can attend this interview after <b>{{start_time}}</b></i>.
    </p>
{{/if}}
{{#if jd_url}}
    <p class="text">
        You can find more information about this position by visiting this link: 
        <a href={{jd_url}} target="_blank">
            {{#if opening_title}}
                {{opening_title}}
            {{else}}
                View more
            {{/if}}
        </a>
    </p>
{{/if}}