<p class="text margin-32 w-480 mx-auto">
	We've created a temporary password for this email account. Please sign in to
	the account with this password and set a new permanent password.
</p>
<p class="text margin-32 w-480 mx-auto">
	Your user-id is <b>{{ email }}</b>
	<br />
	Your password is <b>{{ password }}</b>
</p>
