<tr>
  <td class="main-td2" align="left">
    <div class="tracking-div">
      <div class="tracking-inner">
        <p class="tracking-headline">
          <strong>Tshirt details</strong>
          {{#if url}}
            <a href={{url}} target="_blank" class="tracking-link" style="float: right;" >Track Package</a>
          {{/if}}
          <br />
          <span class="tracking-info">
            Gender: {{t_shirt_gender}} | Size: {{t_shirt_size}}
          </span>
        </p>
        <p class="tracking-headline">
          <strong>Address</strong>
          <br />
          <span class="tracking-address">
            {{#if address.line_1}}
              {{address.line_1}}
              <br />
            {{/if}}
            {{#if address.line_2}}
              {{address.line_2}}
              <br />
            {{/if}}
            {{address.city}}, {{address.state}}, {{address.country}} - {{address.zip}}
            <br />
            {{address.contact}}
          </span>
        </p>
      </div>
    </div>
  </td>
</tr>