{{#if round_overview}}
    <p class="text">
        Overview:
    </p>
    <p class="text text-16 text-justify">
        {{{round_overview}}}
    </p>
{{/if}}
{{#if next_round}}
    <p class="text text-16">
        Once you qualify this round, you will move to {{next_round}} and it will be another interview at {{#if next_round_is_external}} {{company_name}}. {{else}} {{app_website}}. {{/if}}
    </p>
{{/if}}