<html>
{{> header}}

<body>
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td class="container td-second w-780">
        <div class="content td-div w-780">
          <!-- START CENTERED WHITE CONTAINER -->
          <span class="preheader span-title">{{title}}</span>
          <table class="main main-table">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper td-wrapper">
                <table class="secondary-table" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p class="text">
                        {{salutation}},
                      </p>
                      <p class="text text-justify">
                        This is to inform you that your {{app_name}} account has been reactivated, and you should be able to log in now.
                        <br />
                        <br />
                        If you believe this reactivation is an error, or you have any other questions about your account, please reply to this email.
                        <br />
                        <br />
                        Thanks again for being a part of {{app_name}}.
                      </p>
                      {{> signature}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
    </tr>
    {{> footer}}
  </table>
</body>

</html>