<html>
{{> header}}

<body>
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td class="container td-second w-780">
        <div class="content td-div w-780">
          <!-- START CENTERED WHITE CONTAINER -->
          <span class="preheader span-title">{{title}}</span>
          <table class="main main-table">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper td-wrapper">
                <table class="secondary-table" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p class="text">
                        {{salutation}},
                      </p>
                      <p class="text text-justify">
                        {{#if by_user}}
                            This is to inform you that your request to deactivate your account from {{app_name}} has been approved.
                            <br />
                            <br />
                            We're really sorry to see you go, but thanks for giving us a try.
                            <br />
                            <br />
                            Thanks again for being a part of {{app_name}}.
                            <br />
                            <br />
                            We hope to welcome you back soon!
                        {{else}}
                            This is to inform you that your {{app_name}} account has been deactivated by our Administrator.
                            <br />
                            <br />
                            If you believe this deactivation is an error, or you have any other questions about your account, please reply to this email.
                            <br />
                            <br />
                            Thanks again for being a part of {{app_name}}.
                        {{/if}}
                      </p>
                      {{> signature}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
    </tr>
    {{> footer}}
  </table>
</body>

</html>