<html>
{{> header}}

<body>
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td class="container td-second w-780">
        <div class="content td-div w-780">
          <!-- START CENTERED WHITE CONTAINER -->
          <span class="preheader span-title">{{title}}</span>
          <table class="main main-table">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper td-wrapper">
                <table class="secondary-table" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p class="text">
                        {{salutation}},
                      </p>
                      <p class="text text-justify">
                        We have received your application for the position of {{opening_title}} and we're excited that you're keen on being a part of {{company_name}}.
                        {{#if applied_via_company}}
                          <br />
                          <br />
                          {{applied_via_company}} has submitted your resume for the position of {{opening_title}}.
                        {{else if applied_via_vendor}}
                          <br />
                          <br />
                          Your recruiter, {{applied_via_vendor}}, has submitted your resume for the position of {{opening_title}}.
                        {{else if applied_via_recruiter}}
                          <br />
                          <br />
                          {{applied_via_recruiter}} has submitted your resume for the position of {{opening_title}}.
                        {{else if applied_via_referral}}
                          <br />
                          <br />
                          Your friend, {{applied_via_referral}}, has submitted your resume for the position of {{opening_title}}.
                        {{/if}}
                        <br />
                        <br />
                        As we receive thousands of applications every day, our Talent Acquisition team is committed to spending adequate time on each of them to see if there is a fit.
                        Hence, please bear with us as a member of our team reviews your details and aims to get in touch with you as soon as possible.
                        <br />
                        <br />
                        {{#if company_website}}
                          While you wait to hear from us, you might be interested in learning more about {{company_name}} at their website: <a href={{company_link}}>{{company_website}}</a> and about {{app_name}} at <a href={{website_url}}>{{app_website}}</a>.
                        {{else}}
                          While you wait to hear from us, you might be interested in learning more about us at <a href={{website_url}}>{{app_website}}</a>.
                        {{/if}}
                        <br />
                        <br />
                        We wish you the best of luck with your application!
                      </p>
                      {{> signature}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
    </tr>
    {{> footer}}
  </table>
</body>

</html>