<html>
 {{> header}}

  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second w-780">
          <div class="content td-div w-780">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text text-justify">
                            This is to inform you that your request to withdraw the application for the position of {{opening_title}} from {{company_name}} has been received and processed successfully.
                            <br />
                            <br />
                            If you believe this email was sent to you by mistake, or you have any other questions about your application withdrawal, please reply to this email.
                            <br />
                            <br />
                            We wish you good luck on your job search and any professional endeavours in the future.
                            <br />
                            <br />
                            We hope to help you in your job search soon!
                        </p>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        {{> footer}}
      </tr>
    </table>
  </body>
</html>