<html>
{{> header}}

<body>
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td class="container td-second w-780">
        <div class="content td-div w-780">
          <!-- START CENTERED WHITE CONTAINER -->
          <span class="preheader span-title">{{title}}</span>
          <table class="main main-table">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper td-wrapper">
                <table class="secondary-table" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p class="text">
                        {{salutation}},
                      </p>
                      <p class="text text-justify">
                        Thank you for submitting an article to {{app_name}}.
                        <br />
                        <br />
                        Your article <b>{{article_title}}</b> has been reviewed by our editorial team, {{#if comments}}and we have some feedback to help make it work for publication.{{else}} and we will not be extending a publication offer.{{/if}}
                      </p>
                      {{#if comments}}
                        <p class="text text-justify">
                          Per our feedback:
                          <br />
                          {{comments}}
                        </p>
                        <p class="text text-justify">
                          Please review our suggestions, make adjustments and resubmit, if relevant.
                        </p>
                      {{else}}
                        <p class="text text-justify">
                          We appreciate the time you took to submit to our publication, and we look forward to reading work by you in the future.
                        </p>
                      {{/if}}
                      {{> signature}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
    </tr>
    {{> footer}}
  </table>
</body>

</html>