<html>
{{> header}}

<body>
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td class="container td-second w-780">
        <div class="content td-div w-780">
          <!-- START CENTERED WHITE CONTAINER -->
          <span class="preheader span-title">{{title}}</span>
          <table class="main main-table">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper td-wrapper">
                <table class="secondary-table" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p class="text">
                        {{salutation}},
                      </p>
                      <p class="text text-justify">
                        Congratulations, we're delighted to let you know that your article <b>{{article_title}}</b> is now published on {{app_name}}.
                      </p>
                      <p class="text text-justify">
                        <b>Want to tell others you're published? Share your article link:</b>
                      </p>
                      <p class="text text-justify">
                        <a href={{url}} target="_blank">{{url}}</a>
                        <br />
                        <br />
                        You can share this link into your emails, on social media, or anywhere else you'd like to read your article.
                      </p>
                      <p class="text text-justify">
                        Thank you for choosing to publish this article on {{app_name}}. We look forward to receive your next article soon.
                      </p>
                      {{> signature}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
    </tr>
    {{> footer}}
  </table>
</body>

</html>