<html>
  {{> header}}

  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second">
          <div class="content td-div">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                          <!-- START COORDINATOR AREA -->
                          {{#ifEquals deleted_by "admin"}}
                            {{#if added_by}}
                              <div>
                                  <p class="text line-style">
                                    You have cancelled this meeting between the interviewer, {{inviter}} and candidate, {{invitee}} for interview of {{opening_title}} at {{company_name}}, scheduled on {{scheduled_at}}.
                                  </p>
                                  <p class="text">
                                    Interview Details:
                                  </p>
                                  <div class="round-title">
                                    <b>{{round_name}}</b>
                                  </div>
                                  <p class="text">
                                    You can reschedule this meeting by clicking the button below:
                                  </p>
                                  <div class="margin-32 w-480 mx-auto">
                                    <a href={{url}} class="link">
                                      <span class="btn-login">
                                        Click Here to Schedule New Interview
                                      </span>
                                    </a>
                                  </div>
                                  <br />
                              </div>
                            {{else if is_inviter}}
                              <div>
                                <p class="text line-style">
                                  Your meeting with {{invitee}}, {{invitee_email}} for interview of {{opening_title}} at {{company_name}}, scheduled on {{scheduled_at}} has been {{#ifEquals coordinator inviter}} cancelled.{{else}}cancelled by coordinator, {{coordinator}}.{{/ifEquals}}
                                </p>
                                <p class="text">
                                  Please remove this meeting from your schedule.
                                </p>
                                <p class="text">
                                  Interview Details:
                                </p>
                                <div class="round-title">
                                  <b>{{round_name}}</b>
                                </div>
                                <p class="text">
                                  You can check your booked slots by clicking the button below:
                                </p>
                                <div class="margin-32 w-480 mx-auto">
                                  <a href={{url}} class="link">
                                    <span class="btn-login">
                                      Click Here to Check Your Booked Slots
                                    </span>
                                  </a>
                                </div>
                                <br />
                              </div>
                            {{else}}
                              <div>
                                <p class="text line-style">
                                  Your interview with {{inviter}} for profile of {{opening_title}} at {{company_name}}, scheduled on {{scheduled_at}} has been cancelled.
                                </p>
                                <p class="text">
                                  Interview Details:
                                </p>
                                <div class="round-title">
                                  <b>{{round_name}}</b>
                                </div>
                                <p class="text">
                                  Unfortunately, we cannot suggest a new time slot right now. We will contact as soon as we have an available slot.
                                </p>
                                <p class="text">
                                  Please remove this meeting from your schedule.
                                </p>
                              </div>
                            {{/if}}
                          {{/ifEquals}}
                          <!-- END COORDINATOR AREA -->
                          
                          <!-- START INVITER AREA -->
                          {{#ifEquals deleted_by "inviter"}}
                            {{#if added_by}}
                              <div>
                                  <p class="text line-style">
                                    Interviewer, {{inviter}} has cancelled this meeting with {{invitee}} for interview of {{opening_title}} at {{company_name}}, scheduled on {{scheduled_at}}.
                                  </p>
                                  <p class="text">
                                    Interview Details:
                                  </p>
                                  <div class="round-title">
                                    <b>{{round_name}}</b>
                                  </div>
                                  <p class="text">
                                    You can reschedule this meeting by clicking the button below:
                                  </p>
                                  <div class="margin-32 w-480 mx-auto">
                                    <a href={{url}} class="link">
                                      <span class="btn-login">
                                        Click Here to Schedule New Interview
                                      </span>
                                    </a>
                                  </div>
                                  <br />
                              </div>
                            {{else if is_inviter}}
                              <div>
                                <p class="text line-style">
                                  You have cancelled this meeting with {{invitee}}, {{invitee_email}} for interview of {{opening_title}} at {{company_name}}, scheduled on {{scheduled_at}}.
                                </p>
                                <p class="text">
                                  Interview Details:
                                </p>
                                <div class="round-title">
                                  <b>{{round_name}}</b>
                                </div>
                                <p class="text">
                                  Please remove this meeting from your schedule.
                                </p>
                                <p class="text">
                                  You can check your booked slots by clicking the button below:
                                </p>
                                <div class="margin-32 w-480 mx-auto">
                                  <a href={{url}} class="link">
                                    <span class="btn-login">
                                      Click Here to Check Your Booked Slots
                                    </span>
                                  </a>
                                </div>
                                <br />
                              </div>
                            {{else}}
                              <div>
                                <p class="text line-style">
                                  Your interview with {{inviter}} for profile of {{opening_title}} at {{company_name}}, scheduled on {{scheduled_at}} has been cancelled.
                                </p>
                                <p class="text">
                                  Interview Details:
                                </p>
                                <div class="round-title">
                                  <b>{{round_name}}</b>
                                </div>
                                <p class="text">
                                  Unfortunately, we cannot suggest a new time slot right now. We will contact as soon as we have an available slot.
                                </p>
                                <p class="text">
                                  Please remove this meeting from your schedule.
                                </p>
                              </div>
                            {{/if}}
                          {{/ifEquals}}
                          <!-- END INVITER AREA -->
                          
                          <!-- START CANDIDATE AREA -->
                          {{#ifEquals deleted_by "invitee"}}
                            {{#if added_by}}
                              <div>
                                  <p class="text line-style">
                                    Candidate, {{invitee}}, {{invitee_email}} has cancelled this meeting with {{inviter}} for interview of {{opening_title}} at {{company_name}}, scheduled on {{scheduled_at}}.
                                  </p>
                                  <p class="text">
                                    Interview Details:
                                  </p>
                                  <div class="round-title">
                                    <b>{{round_name}}</b>
                                  </div>
                                  <p class="text">
                                    You can reschedule this meeting by clicking the button below:
                                  </p>
                                  <div class="margin-32 w-480 mx-auto">
                                    <a href={{url}} class="link">
                                      <span class="btn-login">
                                        Click Here to Schedule New Interview
                                      </span>
                                    </a>
                                  </div>
                                  <br />
                              </div>
                            {{else if is_inviter}}
                              <div>
                                <p class="text line-style">
                                  Your meeting with {{invitee}}, {{invitee_email}} for interview of {{opening_title}} at {{company_name}}, scheduled on {{scheduled_at}} has been cancelled by candidate.
                                </p>
                                  <p class="text">
                                    Interview Details:
                                  </p>
                                  <div class="round-title">
                                    <b>{{round_name}}</b>
                                  </div>
                                  <p class="text">
                                  Please remove this meeting from your schedule.
                                </p>
                                <p class="text">
                                  You can check your booked slots by clicking the button below:
                                </p>
                                <div class="margin-32 w-480 mx-auto">
                                  <a href={{url}} class="link">
                                    <span class="btn-login">
                                      Click Here to Check Your Booked Slots
                                    </span>
                                  </a>
                                </div>
                                <br />
                              </div>
                            {{else}}
                              <div>
                                <p class="text line-style">
                                  You have successfully cancelled the interview with {{inviter}} for profile of {{opening_title}} at {{company_name}}, scheduled on {{scheduled_at}}.
                                </p>
                                <p class="text">
                                  Interview Details:
                                </p>
                                <div class="round-title">
                                  <b>{{round_name}}</b>
                                </div>
                                <p class="text">
                                  Please remove this meeting from your schedule and contact us to reschedule at your earliest convenience.
                                </p>
                              </div>
                            {{/if}}
                          {{/ifEquals}}
                        <!-- END CANDIDATE AREA -->
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
      {{> footer}}
    </table>
  </body>
</html>