<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second">
          <div class="content td-div">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p class="text">
                          Your interview has been scheduled for profile of {{opening_title}} at {{company_name}}.
                        </p>
                        <p class="text">
                          You will meet with the interviewer {{inviter}} and you'll have a chance to discuss the {{opening_title}} position and learn more about our company.
                        </p>
                        <p class="text">
                          Interview Details:
                        </p>
                        <div class="round-title">
                          <b>{{round_name}}</b>
                        </div>
                        {{> roundOverview}}
                        <p class="text">
                          Please tell us your availability for this interview by clicking the button below:
                        </p>
                        <p
                          class="text-center">
                          <div class="margin-32">
                            <a href={{url}} class="link">
                              <span class="btn-login">
                                Select now
                              </span>
                            </a>
                          </div>
                        </p>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
     {{> footer}}
    </table>
  </body>
</html>