<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second w-780">
          <div class="content td-div w-780">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text margin-32 w-480 mx-auto">
                          {{salutation}},
                        </p>
                        {{#if isNew}}
                        <p
                            class="text margin-32 w-480 mx-auto">
                            You have been invited for an interview for the position of <b>{{opening_title}}</b> role at <b>{{company_name}}.</b>
                            <br />
                            <br />
                            Your account has been created on <a href={{website_url}}>{{app_website}}</a> by <i>{{ company_name }}.</i>
                        </p>
                        {{> jdOverview}}
                        {{> password}}
                        {{else}}
                          <p
                              class="text margin-32 w-480 mx-auto">
                              You have been invited for an interview for the position of <b>{{opening_title}}</b> role at <b>{{company_name}}.</b>
                          </p>
                          {{> jdOverview}}
                        {{/if}}
                        {{> openingInterview}}
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
      {{> footer}}
    </table>
  </body>
</html>