<html>
 {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second">
          <div class="content td-div">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text text-justify">
                            We have received your application for the position of {{opening_title}} and we're excited that you're keen on being a part of {{company_name}}.
                            <br />
                            <br />
                            To move forward with your profile, we need your resume. You can send your attached resume by replying to this email thread.
                            <br />
                            <br />
                            Once we receive your resume, we'll send you an email to get started with interview process soon.
                            <br />
                            <br />
                            We look forward to hear from you.
                            <br />
                            <br />
                        </p>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
     {{> footer text='This is an auto-generated email; please reply to this message.'}}
    </table>
  </body>
</html>