<html>
 {{> header}}

  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second w-780">
          <div class="content td-div w-780">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text text-justify">
                            We appreciate your interest in joining, {{company_name}} and the time you’ve invested in applying for the {{opening_title}} opening.
                        </p>
                        <p
                            class="text text-justify">
                            {{#if applied_for_similar_jd}}
                              We would like to inform you that have already applied for a similar role at {{company_name}}. Therefore, they have decided not to go ahead with your candidature for {{opening_title}} role at this point in time.
                            {{else}}
                              However, after careful consideration of your profile, {{company_name}} has decided not to go ahead with your candidature at this point in time.
                            {{/if}}
                        </p>
                        <p
                            class="text text-justify">
                            We at <a href={{website_url}}>{{app_website}}</a> will keep on looking for other opportunities matching your skills and accomplishments and will keep you informed for any future openings.
                        </p>
                        <p
                            class="text text-justify">
                            We wish you good luck on your job search and any professional endeavours in the future.
                        </p>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        {{> footer}}
      </tr>
    </table>
  </body>
</html>