<html>
 {{> header}}

  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second w-780">
          <div class="content td-div w-780">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text text-justify">
                            We appreciate your interest in joining, {{company_name}} and the time you’ve invested in applying for the {{opening_title}} opening.
                        </p>
                        <p
                            class="text text-justify">
                            {{company_name}} ended up moving forward with another candidate, but they would like to thank you for attending the interview.  
                        </p>
                        <p
                            class="text text-justify">
                            We at <a href={{website_url}}>{{app_website}}</a> will keep on looking for other opportunities matching your skills and accomplishments and will keep you informed for any future openings.
                        </p>
                        <p
                            class="text text-justify">
                            We wish you good luck on your job search and any professional endeavours in the future.
                        </p>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        {{> footer}}
      </tr>
    </table>
  </body>
</html>