<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second w-780">
          <div class="content td-div w-780">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text text-justify">
                            Congratulations, you have sucessfully passed the exam of {{exam_title}} for the {{technology_title}} certification.
                        </p>
                        <p
                            class="text text-justify">
                            After your exam results are updated on {{app_name}} you will receive the certificate and a link to download the certified logo from your dashboard.
                        </p>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
      {{> footer}}
    </table>
  </body>
</html>