<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second w-780">
          <div class="content td-div w-780">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text text-justify">
                            Congratulations, your application has been <b>shortlisted for the next round of interview</b> for the profile of {{opening_title}} at {{company_name}}. You are going to attend {{round_name}}.
                        </p>
                        <p
                            class="text text-justify">
                            {{company_name}} has reviewed your performance during the interview session and were impressed with your enthusiasm and skills.
                        </p>
                         Interview Details:
                        <div class="round-title">
                          <b>{{round_name}}</b>
                        </div>
                        {{> roundOverview}}
                        <div class="margin-32">
                        {{#if is_external}}
                          <span />
                        {{else}}
                          <div class="margin-44">
                            <p
                              class="text">
                              <b>How to start?</b>
                              <ol>
                                <li class="interview-step-li">Login to your {{app_website}} account</li>
                                <li class="interview-step-li">Go to the Interview section of your profile, and select the {{opening_title}}.</li>
                                <li class="interview-step-li">Click on "Start Interview" and follow the on-screen instructions.</li>
                                <li class="interview-step-li">If you need any assistance in the interview process, please contact us via <b>Whatsapp: +91-91081-72112.</b></li>
                              </ol>
                              </p>
                          </div>
                        {{/if}}
                        {{#if is_external}}
                          <p
                              class="text text-justify">
                              Hold on tight while an HR representative from {{company_name}} will contact you for more updates.
                          </p>
                        {{else}}
                          <p
                              class="text text-justify">
                              You can attend this round via {{app_website}}. Please click on the link given below to proceed:
                          </p>
                          <br />
                          <div class="margin-32 w-480 mx-auto">
                            <a href={{url}} class="link">
                              <span class="btn-login">
                              Click Here to Start Your Interview
                              </span>
                            </a>
                          </div>
                        {{/if}}
                        <br />
                        {{> allRounds}}
                        {{#if is_external}}
                          <span />
                        {{else}}
                          <div class="margin-32">
                            <p class="text">
                              <b>FAQs:</b>
                              <li class="interview-step-li">
                                  When is my interview scheduled?
                                  <ol type="a">
                                      <li class="interview-step-li">It's an automated interview round which can be attended based on your availability.</li>
                                      <li class="interview-step-li">The interview needs to be completed within {{> expiryInDays}} from the date this email is received.</li>
                                  </ol>
                                </li>
                            </p>
                          </div>
                        {{/if}}
                        <div class="margin-32">
                          <p
                              class="text">
                              All the best for the interview!
                          </p>
                        </div>
                        <div class="margin-24">
                        {{> recruitmentSignature}}
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
      {{> footer}}
    </table>
  </body>
</html>