<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second w-780">
          <div class="content td-div w-780">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text text-justify">
                            You have been invited for an interview for the position of <b>{{opening_title}}</b> role at <b>{{company_name}}.</b>
                            {{#if applied_via_vendor}}
                              <br />
                              <br />
                              Your recruiter, {{applied_via_vendor}}, has submitted your resume for the position of <i>{{opening_title}}</i> role at <i>{{company_name}}.</i>
                            {{else if applied_via_recruiter}}
                              <br />
                              <br />
                              {{applied_via_recruiter}} has submitted your resume for the position of <i>{{opening_title}}</i> role at <i>{{company_name}}.</i>
                            {{else if applied_via_referral}}
                              <br />
                              <br />
                              Your friend, {{applied_via_referral}}, has submitted your resume for the position of <i>{{opening_title}}</i> role at <i>{{company_name}}.</i>
                            {{/if}}
                        </p>
                        <p
                            class="text text-justify">
                            {{company_name}} has reviewed your resume and have invited you for the first round of the interview via
                            <a href={{website_url}}>{{app_website}}</a>.
                        </p>
                        {{> jdOverview}}
                        {{#if isNew}}
                          {{> password}}
                        {{/if}}
                        {{> roundOverview}}
                        {{> allRounds}}
                        {{> inviteInstructions url=url}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
     {{> footer}}
    </table>
  </body>
</html>
