<html>
  {{> header}}
  <body style="padding-left: 20px; padding-right: 20px;">
      <title>{{title}}</title>
      <div>
            <div style="text-align: center; width: 100%;">
                <h1 style="font-size: 30px">
                    <a target="_blank" href="{{opening_slug_url}}" style="color: black;">{{opening_title}}</a>
                    <br />
                    <span style="font-size: 28px">
                    <a target="_blank" href="{{company_slug_url}}" style="color: black;">{{company_name}}</a>
                    </span>
                </h1>
            </div>
            <div style="display: flex; flex-direction: column;">
                {{#if job_description}}
                    <div style="text-align:justify">
                        <h3>
                            Job Description
                        </h3>
                        {{{job_description}}}
                    </div>
                {{/if}}
                {{#if responsibilities}}
                    <div style="text-align:justify;">
                        <h3>
                            Educational Qualifications
                        </h3>
                        {{{responsibilities}}}
                    </div>
                {{/if}}
                <div>
                    <h4 style="font-size: 18px">
                        Job Details
                    </h4>
                    <ul>
                        {{#if employment_type}}
                            <li>
                                <p class="text inner-text-new">
                                    <b style="font-size: 16px;">Employment Type:</b>  {{employment_type}}
                                </p>    
                            </li>
                        {{/if}}
                        {{#if positions_available}}
                            <li>
                                <p class="text inner-text-new">
                                    <b style="font-size: 16px;">Positions Available:</b> {{positions_available}}
                                </p>
                            </li>
                        {{/if}}
                        {{#if industry_name}}
                            <li>
                                <p class="text inner-text-new">
                                    <b style="font-size: 16px;">Industry Type:</b> {{industry_name}}
                                </p>
                            </li>
                        {{/if}}
                        {{#if salary_range}}
                            <li>
                                <p class="text inner-text-new">
                                    <b style="font-size: 16px;">Salary:</b> {{salary_range}}
                                </p>
                            </li>
                        {{/if}}
                        {{#if experience_required}}
                            <li>
                                <p class="text inner-text-new">
                                    <b style="font-size: 16px;">Experience Required:</b> {{experience_required}}
                                </p>
                            </li>
                        {{/if}}
                    </ul>
                </div>
                {{#if about}}
                    <div>
                        <h3>
                            About company
                        </h3>
                        <p style="text-align:justify">
                            {{about}}
                        </p>
                    </div>
                {{/if}}
                {{#if description}}
                    <div>
                        <h3>
                            What we do
                        </h3>
                        <p style="text-align:justify">
                            {{description}}
                        </p>
                    </div>
                {{/if}}
                {{#if company_addresses.length}}
                    <div>
                        <h3>
                            Locations
                        </h3>
                        <ul>
                            {{#each company_addresses}}
                                <li>
                                    {{line_1}}<br/>
                                    {{line_2}},<br/>{{city}}, {{state}}, {{zip}}, {{country}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
      </div>
  </body>
</html>