<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second">
          <div class="content td-div">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text">
                            {{#if isPanelist}}
                                You have
                                been invited to join the
                                following meeting as an Interviewer.
                            {{else if isAddedBy}}
                                You have assigned {{inviter}} to conduct an interview with {{invitee}}.
                            {{else}}
                                Congratulations, you have
                                been invited to join the
                                following interview :-
                            {{/if}}
                        </p>
                        <table >
                             <tr>
                                <td>
                                    <p class="text inner-text-new">
                                        When:
                                    </p>
                                </td>
                                <td>
                                    <p class="text inner-text-new">
                                        {{scheduled_at}}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="text inner-text-new">
                                        Joining info:
                                    </p>
                                </td>
                                <td >
                                    <p class="text inner-text-new">
                                        Join with the
                                        following link
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="max-w-280">
                                    <p class="text inner-text-new"  style="font-size: 12px;">
                                        <a href={{url}} >{{url}}</a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <p class="text inner-text-new">
                                        (Signin using your {{app_name}} account)
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <p class="text">
                          You can also join the meeting by clicking the button below:
                        </p>
                        <p
                          class="text-center">
                          <div class="margin-32">
                            <a href={{url}} class="link">
                              <span class="btn-login">
                                Join now
                              </span>
                            </a>
                          </div>
                        </p>
                        <p class="text">
                          This interview is the {{round_name}} round for the profile of {{opening_title}} at {{company_name}}.
                        </p>
                        {{#if isPanelist}}
                          <div>
                            <p class="text">
                              You will meet with the candidate {{invitee}}, {{invitee_email}}.
                            </p>
                            <div class="margin-32">
                                <p class="text text-justify text-16">
                                    <b>Note:</b> If you are unable to fit this in your schedule, please <b>cancel</b> this booking by visiting the dashboard: </span><a href={{booking_url}}>View Booked Slots</a>
                                </p>
                            </div>
                            {{> signature}}
                          </div>
                        {{else if isAddedBy}}
                            <div>
                            </div>
                          {{> signature}}
                        {{else}}
                          <div>
                            <p class="text">
                              You will meet with the interviewer {{inviter}} and you'll have a chance to discuss the {{opening_title}} position and learn more about our company.
                            </p>
                            {{> roundOverview}}
                            <div class="margin-32">
                                <p class="text text-justify text-16">
                                    <b>Note:</b> If you are unable to fit this in your schedule, please <b>cancel</b> this booking by visiting the dashboard: </span><a href={{dashboard_url}}>Visit Dashboard</a>
                                </p>
                            </div>
                            <div class="margin-32">
                                <p class="text">
                                    All the best for the interview!
                                </p>
                            </div>
                            <div class="margin-24">
                                {{> recruitmentSignature}}
                            </div>
                          </div>
                        {{/if}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
     {{> footer}}
    </table>
  </body>
</html>