<html>
 {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second">
          <div class="content td-div">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text text-justify">
                            Thank you for your interest in joining {{app_name}}.
                            <br />
                            <br />
                            We are solving the first biggest challenge for the tech community, ie. interview and hiring. We
                            are making it easier for a candidate to join the interview from any place and at any time by
                            going asynchronous.
                            <br />
                            <br />
                            Your company {{company_name }} registration request has been submitted with us successfully.
                            <br />
                            <br />
                            We'll send you an invite to get started soon.
                            <br />
                            <br />
                            You can explore more about {{app_website}} by clicking the button below:
                        </p>
                        <p class="text-center">
                          <div class="margin-32">
                            <a href={{website_url}} class="link">
                              <span class="btn-login">
                                Visit now
                              </span>
                            </a>
                          </div>
                        </p>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
     {{> footer}}
    </table>
  </body>
</html>