<html>
 {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second">
          <div class="content td-div">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text">
                            Your company {{company_name }} has been registered with us successfully
                            {{#if is_seller}}
                                as a Recruiter
                            {{/if}}
                              .
                        <br /><br />
                         I’m {{ceo_name}}, Founder of {{app_name}}, and I’d like to thank you for joining {{app_website}}
                          personally.
                          <br /><br />
                          We are solving the first biggest challenge for the tech community, ie. interview and hiring. We
                          are making it easier for a candidate to join the interview from any place and at any time by
                          going asynchronous.
                          <br /><br />
                          I’d love to hear what you think about how we can improve this.
                          <br /><br />
                          If you have any questions, please feel free to reply to this email. I’m always happy to help!
                        </p>
                        <p
                        class="text">
                          Click on the button below to login with your credentials:
                        </p>
                        <p
                          class="text-center">
                          <div class="margin-32">
                            <a href={{url}} class="link">
                              <span class="btn-login">
                                Login now
                              </span>
                            </a>
                          </div>
                        </p>
                        {{> ceoSignature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
     {{> footer}}
    </table>
  </body>
</html>