<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second">
          <div class="content td-div">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text margin-32 w-480 mx-auto">
                          {{salutation}},
                        </p>
                        <p
                          class="text margin-32 w-480 mx-auto">
                          You have a pending interview for the position of <b>{{opening_title}}</b> role at <b>{{company_name}},</b> it will be available from
                            <b>{{starts_on}}</b> to <b>{{ends_on}}.</b>
                        </p>
                        {{> jdOverview}}
                        {{> openingInterview}}
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
      {{> footer}}
    </table>
  </body>
</html>