<html>
 {{> header}}

  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second w-780">
          <div class="content td-div w-780">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p
                            class="text text-justify">
                            Your application for the position of {{opening_title}} at {{company_name}} is <b>incomplete</b>. Please update a few mandatory details to complete your application online.
                            {{#if applied_via_company}}
                              <br />
                              <br />
                              {{applied_via_company}} has submitted your resume for the position of {{opening_title}}.
                            {{else if applied_via_vendor}}
                              <br />
                              <br />
                              Your recruiter, {{applied_via_vendor}}, has submitted your resume for the position of {{opening_title}}.
                            {{else if applied_via_recruiter}}
                              <br />
                              <br />
                              {{applied_via_recruiter}} has submitted your resume for the position of {{opening_title}}.
                            {{else if applied_via_referral}}
                              <br />
                              <br />
                              Your friend, {{applied_via_referral}}, has submitted your resume for the position of {{opening_title}}.
                            {{/if}}
                            <br />
                            <br />
                            Before we start the interview process, we require some additional information. Please update a few mandatory fields to complete your application online.
                            <br />
                            <br />
                            After you have filled the form and your profile matches with the opening requirements, you'll receive an email to start the automated interview. 
                            <br />
                        </p>
                        <p
                          class="text-center">
                          <div class="margin-32">
                            <a href={{url}} class="link" target="_blank">
                              <span class="btn-login">
                                Update Details
                              </span>
                            </a>
                          </div>
                        </p>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        {{> footer}}
      </tr>
    </table>
  </body>
</html>