<html>
  {{> header}}

  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second">
          <div class="content td-div">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <!-- START INVITER AREA -->
                        {{#if is_inviter}}
                          <div>
                            <p class="text line-style">
                              The meeting initially scheduled on {{scheduled_at}} for profile of {{opening_title}} at {{company_name}} has been requested to be rescheduled by the candidate :-
                            </p>
                            <p>{{invitee}}, {{invitee_email}}</p>
                            <p class="text">
                             Interview Details:
                            </p>
                            <div class="round-title">
                              <b>{{round_name}}</b>
                            </div>
                            <p class="text">
                              Please remove this meeting from your schedule.
                            </p>
                            <p class="text">
                              You can check your booked slots by clicking the button below:
                            </p>
                            <div class="margin-32 w-480 mx-auto">
                              <a href={{url}} class="link">
                                <span class="btn-login">
                                Click Here to Check Your Booked Slots
                                </span>
                              </a>
                            </div>
                            <br />
                          </div>
                        <!-- END INVITER AREA -->
                        
                        <!-- START COORDINATOR AREA -->
                        {{else if added_by}}
                          <div>
                            <p class="text line-style">
                              The meeting initially scheduled on {{scheduled_at}} for profile of {{opening_title}} at {{company_name}} has been requested to be rescheduled by the candidate :-
                            </p>
                            <p>{{invitee}}, {{invitee_email}}</p>
                            <p class="text">
                             Interview Details:
                            </p>
                            <div class="round-title">
                              <b>{{round_name}}</b>
                            </div>
                            <p class="text">
                              You can reschedule this meeting by clicking the button below:
                            </p>
                            <div class="margin-32 w-480 mx-auto">
                              <a href={{url}} class="link">
                                <span class="btn-login">
                                Click Here to Schedule New Interview
                                </span>
                              </a>
                            </div>
                            <br />
                          </div>
                        <!-- END COORDINATOR AREA -->
                          
                        <!-- START CANDIDATE AREA -->
                        {{else}}
                          <div>
                            <p class="text line-style">
                              You have successfully requested to reschedule the meeting initially scheduled on {{scheduled_at}} for profile of {{opening_title}} at {{company_name}}.
                            </p>
                            <p class="text">
                             Interview Details:
                            </p>
                            <div class="round-title">
                              <b>{{round_name}}</b>
                            </div>
                            <p class="text">
                              Please remove this meeting from your schedule.
                            </p>
                          </div>
                        {{/if}}
                        <!-- END CANDIDATE AREA -->
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
      {{> footer}}
    </table>
  </body>
</html>