<html>
    {{> header}}
    <body>
        <table border="0" cellpadding="0" cellspacing="0" class="body">
            <tr>
                <td>
                    &nbsp;
                </td>
                <td class="container td-second max-w-1000">
                    <div class="content td-div-second max-w-1000">
                        <!-- START CENTERED WHITE CONTAINER -->
                        <table style="margin-right: 30%">
                            <!-- START MAIN CONTENT AREA -->
                            <tr>
                                <td class="wrapper td-wrapper">
                                    <table class="secondary-table" border="0"
                                        cellpadding="0"
                                        cellspacing="0">
                                        <tr>
                                            <td>
                                                <p
                                                    class="text">
                                                    {{salutation}},
                                                </p>
                                                <p class="text">
                                                    Quick Summary Report Of
                                                    Interviews Going To
                                                    Expire for <b>{{company_name}}</b>
                                                    on <b>{{day}}</b>
                                                </p>
                                                <p class="text text-14 m-8">
                                                    {{count}}
                                                    interviews are going to be
                                                    expired on {{day}}
                                                </p>
                                                <p class="text"
                                                    style="margin-top: 28px;
                                                    margin-bottom: 14px;
                                                    font-weight: 500"> Detailed
                                                    Report </p>
                                                {{>expiredInterviewsReport
                                                expiredInterviewsReport=expiredInterviewsReport}}
                                                {{> signature}}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- END MAIN CONTENT AREA -->
                        </table>
                        <!-- END CENTERED WHITE CONTAINER -->
                    </div>
                </td>
            </tr>
            {{> footer}}
        </table>
    </body>
</html>