<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>
          &nbsp;
        </td>
        <td class="container td-second max-w-1000">
          <div class="content td-div-second max-w-1000">
            <!-- START CENTERED WHITE CONTAINER -->
            <table style="margin-right: 30%">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p class="text">
                          Summary Report for <b>{{company_name}}</b> Openings on <b>{{day}}</b>
                        </p>
                        <table cellpadding="0" cellspacing="0" border="1" style="width: 100%; margin-bottom: 28px;">
                          <tbody>
                            {{#if summaryReport.length}}
                              <tr>
                                <th class="summary-daily-th" style="text-align: left">Opening</th>
                                <th class="summary-daily-th">Pending Approval</th>
                                <th class="summary-daily-th">Unreviewed</th>
                                <th class="summary-daily-th">Not started till date</th>
                                <th class="summary-daily-th">Applications Withdrawn</th>
                                <th class="summary-daily-th">Appeared for Interview</th>
                                <th class="summary-daily-th">Applied on {{app_website}}</th>
                                <th class="summary-daily-th">Invited</th>
                                <th class="summary-daily-th">Applied and not started</th>
                              </tr>
                              {{#each summaryReport}}
                                <tr>
                                  <td class="summary-daily-td" style="text-align: left">{{opening_title}}</td>
                                  <td class="summary-daily-td">{{interviews_pending_approval_till_date}}</td>
                                  <td class="summary-daily-td">{{interviews_unreviewed_till_date}}</td>
                                  <td class="summary-daily-td">{{interviews_not_started_till_date}}</td>
                                  <td class="summary-daily-td">{{application_withdrawn_till_date}}</td>
                                  <td class="summary-daily-td">{{opening_interviews}}</td>
                                  <td class="summary-daily-td">{{directly_applied_candidates}}</td>
                                  <td class="summary-daily-td">{{invited_candidates}}</td>
                                  <td class="summary-daily-td">{{not_started_candidates}}</td>
                                </tr>
                              {{/each}}
                            {{else}}
                              <td class="summary-daily-td">
                                No Active Openings
                              </td>
                            {{/if}}
                          </tbody>
                        </table>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
      {{> footer}}
    </table>
  </body>
</html>