<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>
          &nbsp;
        </td>
        <td class="container td-second max-w-1000">
          <div class="content td-div-second max-w-1000">
            <!-- START CENTERED WHITE CONTAINER -->
            <table style="margin-right: 30%">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        {{>counts 
                         day=day
                         invited_candidates=invited_candidates
                         not_started_candidates=not_started_candidates
                         opening_title=opening_title 
                         company_name=company_name
                         interviews_pending_approval_till_date=interviews_pending_approval_till_date
                         interviews_unreviewed_till_date=interviews_unreviewed_till_date
                         interviews_not_started_till_date=interviews_not_started_till_date
                         application_withdrawn_till_date=application_withdrawn_till_date
                         opening_interviews=opening_interviews
                         directly_applied_candidates=directly_applied_candidates
                         recruiter_invited_candidates=recruiter_invited_candidates
                         showableData=showableData
                         }}
                        <p class="text" style="margin-top: 28px; margin-bottom: 14px; font-weight: 500"> Detailed Report </p>
                        {{>detailedReport detailedReport=detailedReport}}
                         <p class="text">
                          <b>List of Candidates Invited By Recruiters :</b>
                          </p>
                            <table cellpadding="0" cellspacing="0" border="1" style="width: 100%; margin-bottom: 28px;">
                            <tr>
                              <th class="summary-daily-th">Candidate Name</th>
                              <th class="summary-daily-th">Experience</th>
                              <th class="summary-daily-th">Email</th>
                              <th class="summary-daily-th">Phone</th>
                              <th class="summary-daily-th">Status</th>
                              <th class="summary-daily-th">Vendor</th>
                            </tr>
                            
                           {{#if vendorCandidates.length}}
                            {{#each vendorCandidates}}
                              <tr>
                                <td class="summary-daily-td">{{candidate_name}}</td>
                                <td class="summary-daily-td">{{candidate_experience}}</td>
                                <td class="summary-daily-td">{{email}}</td>
                                <td class="summary-daily-td">{{phone}}</td>
                                <td class="summary-daily-td">{{status}}</td>
                                <td class="summary-daily-td"  >{{vendor_name}}</td>
                              </tr>
                            {{/each}}
                            {{else}}
                              <tr>
                                <td class="summary-daily-td" colspan="6">
                                  No Candidates Invited By Recruiters
                                </td>
                              </tr>
                            {{/if}}
                        </table>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
      {{> footer}}
    </table>
  </body>
</html>