<html>
  {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>
          &nbsp;
        </td>
        <td class="container td-second max-w-1000">
          <div class="content td-div-second max-w-1000">
            <!-- START CENTERED WHITE CONTAINER -->
            <table style="margin-right: 30%">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        {{>counts 
                         day=day
                         invited_candidates=invited_candidates
                         not_started_candidates=not_started_candidates
                         opening_title=opening_title 
                         company_name=company_name
                         interviews_pending_approval_till_date=interviews_pending_approval_till_date
                         interviews_unreviewed_till_date=interviews_unreviewed_till_date
                         interviews_not_started_till_date=interviews_not_started_till_date
                         opening_interviews=opening_interviews
                         directly_applied_candidates=directly_applied_candidates
                         recruiter_invited_candidates=recruiter_invited_candidates
                         showableData=showableData
                         }}
                        <p class="text" style="margin-top: 28px; margin-bottom: 14px; font-weight: 500"> Detailed Report </p>
                       {{>detailedReport detailedReport=detailedReport}}
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
      {{> footer}}
    </table>
  </body>
</html>