<html>
 {{> header}}
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td class="container td-second">
          <div class="content td-div">
            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader span-title">{{title}}</span>
            <table class="main main-table">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper td-wrapper">
                  <table class="secondary-table" border="0" cellpadding="0"
                    cellspacing="0">
                    <tr>
                      <td>
                        <p
                          class="text">
                          {{salutation}},
                        </p>
                        <p class="text">
                          <b>{{user_name}},</b> has invited you to join {{app_name}} platform.
                          <br />
                          <br />
                            Welcome to India's First Developer Network
                            <br/>
                            <a href="https://discord.gg/EPJNqFKnTP" target="_blank" ><b>click here to join us on Discord</b></a> and
                            start connecting to other members.
                            <br />
                            <br />
                            We are solving the first biggest challenge for the tech community, ie. interview and hiring. We
                            are making it easier for a candidate to join the interview from any place and at any time by
                            going asynchronous.
                            <br />
                            <br />
                            Click on the button below to sign up and upload your resume to begin your recruitment journey with us.
                        </p>
                        <p
                          class="text-center">
                          <div class="margin-32">
                            <a href={{url}} class="link">
                              <span class="btn-login">
                                Sign up now
                              </span>
                            </a>
                          </div>
                        </p>
                        {{> signature}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
      </tr>
     {{> footer}}
    </table>
  </body>
</html>