<html xmlns="http://www.w3.org/1999/xhtml">
 {{> darkHeader}}
  <body>
    <center class="wrapper">
      <table class="main-table" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td width="100%">
            <div class="webkit" style="max-width: 600px; margin: 0 auto">
              <!-- ======= start main body ======= -->
              <table
                class="outer inner-table"
                align="center"
                cellpadding="0"
                cellspacing="0"
                border="0"
              >
                <tr style="vertical-align: top">
                  <td class="td-first">
                    <br />
                    <div class="u-row-container">
                      <div class="u-row">
                        <div class="u-table">
                          <div class="u-col u-col-50 div1">
                            <div class="div2">
                              <div class="div3">
                                <table style="font-family: 'Inter', helvetica, sans-serif;"
                                  role="presentation"
                                  cellpadding="0"
                                  cellspacing="0"
                                  width="100%"
                                  border="0"
                                >
                                  <tbody>
                                    <tr>
                                      <td class="main-td" align="left">
                                      <img 
                                          border="0"
                                          src="https://topgeek.io/assets/images/emails/congrats.png"
                                          alt="congrats"
                                          class="congrats-img"
                                          width="60"
                                          style="width: 10%; margin-bottom: 5px"
                                        />
                                        <h1>
                                          <strong>Congratulations! your <br />t-shirt is on the way</strong>
                                        </h1>
                                        <br />
                                        <p class="td-p1">
                                          You can track shipment of your t-shirt via below link.
                                        </p>
                                      </td>
                                    </tr>

                                    {{> rewardTracking url=url}}

                                  </tbody>
                                </table>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    {{> darkFooter}}

                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>