<html>
{{> header}}

<body>
  <table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td class="container td-second w-780">
        <div class="content td-div w-780">
          <!-- START CENTERED WHITE CONTAINER -->
          <span class="preheader span-title">{{title}}</span>
          <table class="main main-table">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper td-wrapper">
                <table class="secondary-table" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p class="text">
                        {{salutation}},
                      </p>
                      <p class="text text-justify">
                        {{message}}
                      </p>
                      <p class="text text-justify">
                        I’m {{ceo_name}}, Founder of {{app_name}}, and I’d like to thank you for joining {{app_website}}
                        personally.
                        <br /><br />
                        <b>Welcome to India's First Developer Network</b>
                        <a href="https://discord.gg/EPJNqFKnTP" target="_blank">click here to join us on Discord</a> and
                        start connecting to other members.
                        <br />
                        <br />
                        We are solving the first biggest challenge for the tech community, ie. interview and hiring. We
                        are making it easier for a candidate to join the interview from any place and at any time by
                        going asynchronous.
                        <br />
                        <br />
                        <b>Upcoming Features:</b>
                      <ul>
                        <li>Live Streams</li>
                        <li>Upskill</li>
                        <li>Tech Blogs</li>
                        <li>Mentorship Program</li>
                        <li>Meetups and Conferences</li>
                      </ul>
                      <br />
                      I’d love to hear what you think about how we can improve this.
                      <br /><br />
                      If you have any questions, please feel free to reply to this email. I’m always happy to help!
                      </p>
                      {{> ceoSignature}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
    </tr>
    {{> footer}}
  </table>
</body>

</html>